.history {
    background-color: var(--additional-color);
    &__area {
      color: var(--main-color);
      margin: 0;
      padding: var(--main-padding);
      padding-bottom: 0;
      &::before {
        content: "⁂ ";
        opacity: 0.5;
      }
    }
    &__date {
      list-style: none;
      font-size: smaller;
      font-weight: 700;
      padding:var(--main-padding);
      margin: 0px;
      width: 90%;
    }
    &__edit {
      left: 20%;
      position:relative;
      top:55%;
      width: 25px;
    }
    &__info {
      margin:0;
      padding:var(--main-padding);
    }
    &__information {
      grid-area: 2/3/3/4;
      margin: 0;
      overflow: visible;
      padding: var(--main-padding);
      padding-top: 0;
      width:90%;
    }
    &__secondContainer {
      border-top: 1px solid var(--main-color);
      display:grid;
      grid-template-columns: 40px 40px 1fr;
      margin:0 auto;
      min-height: 100%;
      width:90vw;
    }
    &__reset {
      left: 20%;
      position:relative;
      top:55%;
      width: 25px;
    }
  }