.list {
    margin-bottom: var(--main-padding);
    &__bold {
      margin-left: 3px;
      margin-right: 3px;
    }
    &__image {
      position:relative;
      top:5px;
      width: 25px;;
    }
  }