.list {
    margin-bottom: var(--main-padding);
    &__bold {
      margin-right: 3px;
    }
    &__image {
      position:relative;
      top:3px;
      width: 16px;;
    }
    &--1 {
      line-height: 1.25;
    }
  }