@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

:root {
  --main-padding: 16px;
  --main-radius: 10px;
  --main-color: #274c77;
  --main-margin: 30px;
}

body {
  background: #8d99ae;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.button {
  background: #a3cef1;
  padding: var(--main-padding);
  border: 0;
  border-radius: var(--main-radius);
  font-weight: bold;
  color: var(--main-color);
}

.button__1 {
  background: #6096ba;
  margin-left: 6px;
}

.form__button {
  display: flex;
  justify-content: flex-end;
}

.form__content {
  background: #EDF2F4;
  height: 250px;
  width: 80vw;
  border-radius: var(--main-radius);
  color: black;
  padding: var(--main-padding);
  margin: var(--main-margin) 0px;
  border: var(--main-color) 1px dashed;
}

.history {
  color: var(--main-color);
  margin: var(--main-margin) 0px;
}

.history__area {
  list-style:none;
  width: 80vw;
  line-height: 1.5;
}

.main__header {
  color: var(--main-color);
  margin: var(--main-margin) 0px;
}

.main__heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.date {
  border-radius: 5px;
  border: 0;
  font-size: small;
  color: var(--main-color);
}

.special {
  font-weight:bold;
  font-size:small;
}
